# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# 環境設定
.env

# Telegram session
userbot.session
userbot.session-journal

# 備份檔案
backup/*.bak

# 系統檔案
.DS_Store
Thumbs.db

# 舊檔案排除
command_handler 舊 .py 